@charset "UTF-8";

/* base
--------------------------------------------- */
body {
    color: #6c6c6f;
    font-size: 16px;
    line-height: 1.75;
    background-color: #fff;
    font-family: Helvetica, Arial, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}



/* layout
----------------------------------------------*/
.features-info {
    width: 42.7%;
    margin-top: 80px;
}

.features-list {
    width: 50.4%;
}

.features-list .card {
    width: 44%;
    margin: 40px 0;
}

.payment {
    background-color: #F7FAFF;
}

.payment-image {
    width: 50.4%;
}

.payment-info {
    width: 42.7%;
    margin: 40px 0;
}

.speciality-list {
    margin-top: 60px;
}

.speciality-list .card {
    width: 30%;
}

.choose {
    background-color: #F7FAFF;
}

.choose-info {
    margin-bottom: 50px;
}

.choose-info .media-lead {
    width: 770px;
    margin: 0 auto;
}

.choose-list .card-title {
    line-height: 1.5em;
}

.choose-list .card {
    width: 48%;
    margin-top: 30px;
}

.choose-list .card_shadow {
    padding: 20px;
}

.choose-list .card-icon {
    min-width: 70px;
    margin: 20px;
    width: 20%;
}

.choose-list dl {
    width: 70%;
}

.bring {
    background-color: #123D88;
}

.bring-info {
    color: #fff;
}

.bring .media-title {
    color: #fff;
}

/* common
----------------------------- */
.l-TA-C {
    text-align: center;
}

.l-TA-R {
    text-align: right;
}

.l-TA-L {
    text-align-last: left;
}

.l-inner {
    max-width: 1170px;
    margin: 0 auto;
}

/* flexbox */
.l-flex {
    display: flex;
    flex-wrap: wrap;
}

.l-Py {
    padding: 80px 0;
}


/* l-header */
.l-header {
    background-color: #123D88;
    height: 100px;
    padding: 30px 0;
}

.l-header {
    line-height: 1;
}
/* l-main */


/* l-footer */
.l-footer {
    background-color: #123D88;
    color: #fff;
    height: 80px;
    padding: 30px 0;
    text-align: right;
}

.l-footer small {
    font-size: 15px;
}





/* module
------------------------------------------ */

/* g-nav */
.g-nav li {
    margin-left: 30px;
}

/* flexbox */

.flex_JC-SB {
    justify-content: space-between;
}

.flex_AI-C {
    align-items: center;
}

/* button */

.button {
    display: inline-block;
    width: 200px;
    margin-top: 50px;
    box-shadow: rgba(0,0,0,0.1) 0 3px 8px;
    border-radius: 28.5px;
    padding: 12px 0;
    text-align: center;
    background-color: #256BE6;
    letter-spacing: 0.025;
    line-height: 1.5;
}

.btn_info {
    background-color: #2DBE61;
    box-shadow: rgba(22,132,61,0.1) 0 5px 10px;
}

/* media */

.media-subTitle {
    margin-bottom: 15px;
    color: #256BE6;
    font-size: 14px;
    line-height: 2.14;
    letter-spacing: 0.05em;
}

.media-title {
    margin-bottom: 20px;
    color: #262934;
    font-size: 36px;
    line-height: 1.33;
    font-weight: bold;
}

/* card */

.card-icon {
    margin-bottom: 15px;
}

.flex .card-icon {
    margin-bottom: 0;
    margin-right: 25px;
}

.card-title {
    color: #2F2F35;
    font-size: 22px;
    line-height: 2.72;
    font-weight: bold;
}

.card_shadow {
    padding: 50px 25px;
    box-shadow: 0 5px 30px rgba(0,0,0,0.05);
}